<form #wform="ngForm" [formGroup]="warehouseForm" (ngSubmit)="save()" class="example-form">
    <mat-form-field class="example-full-width">
        <input matInput formControlName="name" type="text" placeholder="Name" required>
        <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
            <mat-error *ngIf="name.errors.required">Name is required.</mat-error>
        </mat-error>
    </mat-form-field>
    

    <mat-form-field class="example-full-width">
        <input matInput formControlName="city" type="text" placeholder="City" required>
        <mat-error *ngIf="city.invalid && (city.dirty || city.touched)">
            <mat-error *ngIf="city.errors.required">City is required.</mat-error>
        </mat-error>
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
        <input matInput formControlName="country" type="text" placeholder="Country" required>
        <mat-error *ngIf="country.invalid && (country.dirty || country.touched)">
            <mat-error *ngIf="country.errors.required">Country is required.</mat-error>
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Currency</mat-label>
        <mat-select formControlName="currencyId" single>
            <div *ngFor="let currency of currencies">
                <mat-option *ngIf="!currency.isDeleted" [value]="currency.id">
                    {{ currency.name }}
                </mat-option>
            </div>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <textarea matInput formControlName="address" placeholder="Address" required></textarea>
        <mat-error *ngIf="address.invalid && (address.dirty || address.touched)">
            <mat-error *ngIf="address.errors.required">Address is required.</mat-error>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput formControlName="phone" type="text" placeholder="Phone" required>
        <mat-error *ngIf="phone.invalid && (phone.dirty || phone.touched)">
            <mat-error *ngIf="phone.errors.required">Phone is required.</mat-error>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput formControlName="email" type="email" placeholder="email" email required>
        <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
            <mat-error *ngIf="email.errors.required">Email is required.</mat-error>
            <mat-error *ngIf="email.errors.email">Email is required.</mat-error>
        </mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary" [disabled]="warehouseForm.invalid">Submit</button>
</form>
  
