.title {
    color: #FF6D00;
}

.items {
    flex-wrap: wrap;
}

h3, h4 {
    text-align: center;
}

.example-month-picker .mat-calendar-period-button {
    pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
    display: none;
}

table {
    width: 100%;
}

mat-list-item {
    border-bottom: 1px solid grey;
}

  
  